<div class="col-md-11 mx-auto mt-5">

    <nb-card accent="primary">
        <nb-card-header>
            <p class="h4">Manage Your Reviews</p>
        </nb-card-header>
        <nb-card-body>
            <nb-accordion *ngIf="reviewList">
                <nb-accordion-item *ngFor="let review of reviewList">
                    <nb-accordion-item-header>
                        {{review.title}}
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        {{review.description}}
                        <div class="row">
                            <div class="col-md-4">

                            </div>

                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-4">
                                        <p>Downvotes : </p>
                                        <p>Upvotes : </p>
                                        <p>Comments : </p>
                                    </div>
                                    <div class="col-8">
                                        <p>{{review.downvotes}}</p>
                                        <p>{{review.upvotes}}</p>
                                        <p>{{review.reply.length}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <!-- <div class="col text-center">
                            <button class="col-10" nbButton (click)="updateUser(review._id)">Edit</button>
                        </div> -->

                            <div class="col text-center">
                                <button nbButton hero (click)="deleteVideo(review._id)" status="danger">Delete</button>
                            </div>
                        </div>
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
        </nb-card-body>
    </nb-card>
</div>