<div class="row">
    <div class="col-md-8 mx-auto">
        <nb-card>
            <nb-card-body>
                <h3>Add Your Review</h3>

                <mat-form-field appearance="outline" class="mt-4">
                    <mat-label>Title</mat-label>
                    <input type="text" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" class="mt-4">
                    <mat-label>Description</mat-label>
                    <textarea type="text" matInput></textarea>
                </mat-form-field>

            </nb-card-body>
        </nb-card>
    </div>
</div>