<nb-card ngsReveal>
  <nb-card-header>
    <p class="text-center h2">Add New Query</p>
  </nb-card-header>
  <nb-card-body>
    <mat-form-field class="mt-5 w-100" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput type="text" #title [(ngModel)]="enteredTitle">
    </mat-form-field>
    <mat-form-field class="mt-2 w-100" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput rows="6" #description [(ngModel)]="enteredContent"></textarea>
    </mat-form-field>
    <button nbButton (click)="onAddPost()">Save Post</button>
  </nb-card-body>
</nb-card>