<div class="row justify-content-center">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Location</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
                <button class="mt-3" nbButton>Search</button>
            </nb-card-body>
        </nb-card>

        <nb-card class="mt-4" *ngIf="reviewList">
            <nb-card-body>
                <div class="review mt-5" *ngFor="let review of reviewList;let i = index;">

                    <div class="row">
                        <div class="col-md" style="border-right: 1px solid rgb(226, 226, 226);">
                            <h3>{{review.title}}</h3>
                            <p>{{review.description}}</p>

                            <div class="row">
                                <div class="col-1">
                                    <span>{{review.upvotes.length}}</span>
                                    <nb-icon icon="arrow-upward-outline" (click)="addUpvote(i)"></nb-icon>
                                </div>
                                <div class="col">
                                    <span>{{review.downvotes.length}}</span>
                                    <nb-icon icon="arrow-downward-outline" (click)="addDownvote(i)"></nb-icon>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <nb-card accent="danger" style="height: 300px">
                                        <nb-card-body>
                                            <h3>Speed</h3>
                                            <div style="margin-left: 20px;">
                                                <rg-gauge-chart [canvasWidth]="200" [needleValue]="65"
                                                    [centralLabel]="review.data.speed+' mb/s'" [options]="options"
                                                    [bottomLabel]="'FAST'">
                                                </rg-gauge-chart>
                                            </div>

                                        </nb-card-body>
                                    </nb-card>
                                </div>
                                <div class="col-md-6">
                                    <nb-card accent="primary">
                                        <nb-card-body>
                                            <h3>Location</h3>
                                            <h4>{{review.data.address}}</h4>
                                            <a [href]="'https://www.google.com/maps/@'+review.data.location.latitude+','+review.data.location.logitude+',21z'"
                                                target="_blank">View On Google Map</a>
                                        </nb-card-body>
                                    </nb-card>
                                    <nb-card accent="warning">
                                        <nb-card-body>
                                            <h3>Provider</h3>
                                            <h4>{{review.data.provider}}</h4>
                                        </nb-card-body>
                                    </nb-card>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>